body {
  text-align: center;
  background-color: #808080;
}

#score-panel {
  position: relative;
  top: 20px;
  background-color: #ffa700;
  padding: 40px 40px;
  width: 425px;
  margin: 0 auto auto;
  border-radius: 20px;
}

.inner-panel {
  position: relative;
  top: 40%;
  font-size: 20px;
  float: left;
  margin-left: 30px;
  color: white;
}

#congrats-model {
  display: none;
  position: absolute;
  top: 250px;
  left: 34%;
  width: 400px;
  height: 200px;
  background-color: #13d9eb;
  border-radius: 10px;
  z-index: 2;
}

#gameOver-model {
  display: none;
  position: absolute;
  top: 250px;
  left: 34%;
  width: 400px;
  height: 200px;
  background-color: #ff0000;
  border-radius: 10px;
  z-index: 2;
}

.model-text {
  position: relative;
  top: 35%;
  font-size: 35px;
  color: white;
  font-weight: 800;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}
